<li>{{category.name}} <button {{action 'showPosts'}}>See Posts</button></li>
{{#if displayPosts}}
  <ul>
    {{#each category.posts as |post|}}
      <li>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</li>
    {{/each}}
  </ul>
  <button {{action 'hidePosts'}}>Hide posts</button>
{{/if}}
