<h1>A story about Music</h1>
<p>
  Here we are, sitting at Epicodus, making the best websites <em>Ever</em>, when we realized we have the best taste in music possible.  The answer was as clear as a message in the clouds: Make a music blog so the world can bask in AWESOMENESS!!!
</p>
